<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Booking</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="col">
        <div class="row">
          <h1>Selling Ticket</h1>
          <p>
            Please confirm that you want to sell this ticket by checking the box
            below.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <form
            th:action="@{/tickets/{id}/sell(id=${ticket.getId()})}"
            method="post"
          >
            <div class="btn-group" role="group">
              <input
                class="btn-check"
                type="checkbox"
                name="confirm"
                id="confirm"
                value="yes"
                autocomplete="off"
              />
              <label
                for="confirm"
                class="btn btn-outline-primary"
                th:text="${'I confirm that I want to sell the ticket &quot;' + ticket.getTitle() + '&quot; for the price of ' + #numbers.formatCurrency(ticket.getPrice() / 100.00) + '.'}"
              ></label>
            </div>
            <button type="submit" class="btn btn-outline-success">
              Confirm Sale
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
